@model SearchViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
        {
            <div class="row well">
                <div class="form-group col-md-3">
                    <label>Search for</label>
                    @Html.TextBoxFor(m => m.SearchTerm, null, new { @class = "form-control", @placeholder = "Enter term to search for" })
                </div>
                <div class="form-group col-md-3">
                    <label>Find keyword</label>
                    @Html.TextBoxFor(m => m.StringToFind, null, new { @class = "form-control", @placeholder = "Occurences to find" })
                </div>
                <div class="form-group col-md-3">
                    <label>Number of search results</label>
                    @Html.DropDownListFor(m => m.NumberOfResultsString, Model.NumberOfResultsOptions, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>Search engine</label>
                    @Html.DropDownListFor(m => m.SearchEngine, Model.SearchEnginesOptions, new { @class = "form-control" })
                </div>
                
                <div class="row col-md-2 col-md-offset-5">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
    
    <div class="row">
        @if (Model?.Occurences != null && Model.Occurences.Any())
        {
            if (Model.Occurences.Count() == 1 && Model.Occurences.First() == 0)
            {
                <h1>No occurence</h1>
            }
            else
            {
                <h1>Indexes of occurences found:</h1>
                <ul class="list-group">
                    @foreach (var result in Model.Occurences)
                    {
                        <li class="list-group-item">@result</li>
                    }
                </ul>
            }    
        }
    </div>

</div>

